/* Header */
.header {
    background-color: #2C3A61;
    color: #fff;
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: 0.048px;
    outline: none;
}

.header__top-bar {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__top-bar--email {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__top-bar--email-logo {
    font-size: 2.2rem;
}

.header__top-bar--email-group {
    font-style: normal;
}

.header__top-bar--email-label {
    font-weight: 700;
}

.header__top-bar--socials {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__top-bar--social-icon {
    font-size: 2rem;
    padding: 12px;
    transition: opacity 0.3s ease;
}

.header__top-bar--social-icon:hover {
    opacity: 0.7;
}

.header__top-bar--social-separate {
    width: 1px;
    height: 39px;
    background-color: #fff;
    margin-left: 16px;
}

.header__top-bar--social-phone {
    display: flex;
    align-items: center;
}

.header__top-bar--saperate {
    width: 100%;
    height: 0.5px;
    background-color: #fff;
}

/* Main */
.main__group {
    position: relative;
    width: 100%;
    height: 75px;
    margin-top: 25px;
}

.main__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(74, 96, 161, 1);
}

.main__logo-icon,
.footer__logo-img {
    width: 48px;
    height: 48px;
}

.main__logo-content {
    display: flex;
    flex-direction: column;
}

.main__logo-name,
.footer__logo-text--title {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-top: 2px;
}

.main__logo-description,
.footer__logo-text--description {
    font-weight: 500;
    line-height: 1.6rem;
    font-size: 1.4rem;
}

.main__nav {
    display: flex;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.main__nav-item {
    color: #0F1320;
    text-decoration: none;
    outline: none;
    padding: 12px 20px;
    transition: opacity 0.3s ease;
}

.main__nav-item:hover {
    opacity: 0.7;
}

.main__nav-item--active {
    font-weight: 600;
}

.properties {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 240px;
    background: linear-gradient(0deg, rgba(6, 48, 83, 0.70) 0%, rgba(6, 48, 83, 0.70) 100%), url(../assets/img/list4.jpeg) lightgray 0px -718.055px / 100% 533.75% no-repeat;
}

.properties___heading {
    color: #fff;
}

.properties___title {
    font-size: 5.2rem;
    line-height: 7.2rem;
    font-weight: 600;
    font-family: "Public Sans";
    margin-bottom: 12px;
}

.properties__description {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.properties__description-item--acive {
    font-weight: 500;
}

/* Content */
.content {
    width: 1248px;
    margin: 100px auto 0;
}

.content__nav {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 50px;
}

.sort {
    display: flex;
    align-items: center;
    gap: 16px;
}

.sort--icons {
    font-size: 2.2rem;
    cursor: pointer;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sort__list,
.sort__block {
    padding: 2px;
}

.sort__list:hover,
.sort__block:hover {
    opacity: 0.7;
}

.sort__name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sort__list {
    margin-right: 8px;
}

.sort--active {
    font-size: 2.6rem;
    opacity: 1;
    transform: scale(1.1);
}

.navbar {
    display: flex;
    gap: 32px;
}

.navbar__item {
    text-decoration: none;
    color: #1B1D1F;
}

.navbar__item:hover {
    opacity: 0.7;
}

.navbar__item--active {
    font-weight: 600;
}

.letest-rent__block {
    width: 1248px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.letest-rent__items {
    width: 400px;
    background-color: #fff;
    border-radius: 6.424px;
    box-shadow: 0px 25.697px 72.808px 0px rgba(59, 77, 129, 0.08);
    margin-bottom: 24px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.letest-rent__items:hover {
    transform: translateY(-5px);
    box-shadow: 2px 4px 6px #ccc;
}

.letest-rent__items:nth-child(2),
.letest-rent__items:nth-child(5) {
    margin-right: 24px;
    margin-left: 24px;
}

.letest-rent__item--img {
    padding: 17px;
}

.letest-rent__items:nth-child(7) .letest-rent__item--img, 
.letest-rent__items:nth-child(1) .letest-rent__item--img {
    background: url(.././assets/img/list1.jpeg), #B1A7A7;
    width: 100%;
    height: 241px;
    background-size: cover;
    background-position: center;
}

.letest-rent__items:nth-child(8) .letest-rent__item--img, 
.letest-rent__items:nth-child(2) .letest-rent__item--img {
    background: url(.././assets/img/list2.jpeg), #B1A7A7;
    width: 100%;
    height: 241px;
    background-size: cover;
    background-position: center;
}

.letest-rent__items:nth-child(9) .letest-rent__item--img, 
.letest-rent__items:nth-child(3) .letest-rent__item--img {
    background: url(.././assets/img/list3.jpeg), #B1A7A7;
    width: 100%;
    height: 241px;
    background-size: cover;
    background-position: center;
}

.letest-rent__items:nth-child(4) .letest-rent__item--img {
    background: url(.././assets/img/list4.jpeg), #B1A7A7;
    width: 100%;
    height: 241px;
    background-size: cover;
    background-position: center;
}

.letest-rent__items:nth-child(5) .letest-rent__item--img {
    background: url(.././assets/img/list5.jpeg), #B1A7A7;
    width: 100%;
    height: 241px;
    background-size: cover;
    background-position: center;
}

.letest-rent__items:nth-child(6) .letest-rent__item--img {
    background: url(.././assets/img/list6.jpeg), #B1A7A7;
    width: 100%;
    height: 241px;
    background-size: cover;
    background-position: center;
}

.letest-rent__item--content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.letest-rent__address {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3rem;
    color: #363A3D;
}

.latest-rent__price {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.8rem;
    color: #4A60A1;
}

.latest-rent__descriptions {
    display: flex;
    align-items: center;
    color: #6D737A;
    gap: 4px;
}

.car-icon,
.bathtub-icon,
.arrow-out-icon {
    font-size: 1.8rem;
}

.car-numbers,
.bathtub-numbers,
.arrow-out-numbers {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    margin-right: 12px;
}

.letest-rent__item--saperate {
    height: 1.071px;
    background: #E7E9EB;
}


.letest-rent__item--author {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.author-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.author-name {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: #363A3D;
}

.author-affection {
    color: rgba(74, 96, 161, 1);
    font-size: 2rem;
}

.author-affection-icon {
    padding: 5px;
    margin-left: 10px;
    background-color: rgba(237, 239, 246, 1);
}

.author-affection-icon.active {
    color: red;
}

/* latest-rent__list */
.letest-rent__list {
    display: none;
    flex-direction: column;
    gap: 100px;
}

.latest-rent__list-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
}

.latest-rent__list-item-left {
    .card-img {
        margin-right: 0;
        margin-left: 53px;
    }
}

.card-content {
    width: 536px;
}

.content-main {
    margin-top: 24px;
}

.card-title {
    color: #4A60A1;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.048px;
}

.card-description-item {
    margin-top: 16px;
    color: #889099;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.card-description-item--link {
    font-weight: 600;
    text-decoration: none;
    color: #4A60A1;
}

.card-price {
    margin-top: 32px;
    color: #4A60A1;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.card-img {
    height: 450px;
    flex: 1;
    border-radius: 12px;
    margin-right: 53px;
    position: relative;
}

.latest-rent__list-item:nth-child(1) .card-img{
    background: url(../assets/img/list11.jpeg);
    background-size: cover;
}

.latest-rent__list-item:nth-child(2) .card-img{
    background: url(../assets/img/list2.jpeg);
    background-size: cover;
}

.latest-rent__list-item:nth-child(3) .card-img{
    background: url(../assets/img/list6.jpeg);
    background-size: cover;
}

.latest-rent__descriptions-right {
    width: 374px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 28px;
    right: -53px;
    background: #fff;
    padding: 24px;
    box-shadow: 3px 2px 5px  rgba(59, 77, 129, 0.8);
    border-radius: 4px;
    color: #4A60A1;
}

.latest-rent__descriptions-left {
    width: 374px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 28px;
    left: -53px;
    background: #fff;
    padding: 24px;
    box-shadow: 3px 2px 5px  rgba(59, 77, 129, 0.8);
    border-radius: 4px;
    color: #4A60A1;
}

.description-right-icon-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.description-right-icon-group+.description-right-icon-group {
    border-left: 1px solid #ccc;
    padding-left: 24px;
}

.letest-rent__nav {
    margin-top: 50px;
    height: 44px;
    display: flex;
    justify-content: center;
}

.letest-rent__nav-btn {
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    padding: 10px 14px;
    outline: none;
    border: none;
    background: #4A60A1;
    transition: all 0.25s ease;
}

.lest-rent__nav-item:hover,
.letest-rent__nav-btn:hover {
    opacity: 0.8;
    transform: scale(0.96);
    box-shadow: 0 0 5px #666;
}

.letest-rent__nav-btn--disable {
    background: #B7BFD9;
    cursor: default;
}

.letest-rent__nav-btn--disable:hover {
    opacity: 1;
    box-shadow: none;
    transform: none;
}

.letest-rent__nav-btn i{
    font-size: 2rem;
}

.lest-rent__nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 0 16px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.lest-rent__nav-item {
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 44px;
    height: 44px;
    background: #EDEFF6;
    color: #4A60A1;
    transition: all 0.3s ease;
}

.lest-rent__nav-item--active {
    color: #fff;
    background: #4A60A1;
}

/* Footer */
.footer {
    padding-top: 100px;
    margin: auto;
    width: 1248px;
    height: 450px;
    display: flex;
    font-family: "Public Sans";
}

.footer__group {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0 auto;
    padding-right: 80px;
    flex: 1;
}

.footer__trademark {
    display: flex;
    align-items: center;
}

.footer__logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__logo-text--title,
.footer__logo-text--description {
    color: #4A60A1;
}
.footer__contact {
    display: flex;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    flex: 2;
}

.footer__contact {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
    letter-spacing: 0.048px;
    margin: 24px 0 16px;
}

.footer__infor {
    color: #6D737A;
}

.footer__contact-phone {
    margin-bottom: 8px;
}

.footer__contact-address {
    width: 310px;
    margin-bottom: 16px;
}

.footer__contact-email {
    color: #363A3D;
    margin-bottom: 16px;
}

.footer__social-links {
    display: flex;
    gap: 16px;
}

.footer__social-link {
    width: 48px;
    display: flex;
    text-decoration: none;
    padding: 14px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    background: #EDEFF6;
    color: rgba(74, 96, 161, 1);
    font-size: 2rem;
    transition: all 0.3s ease;
}

.footer__social-link:hover {
    opacity: 0.7;
}

.footer__column-title {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.2rem;
    margin-bottom: 32px;
    /* width: 202px; */
}

.footer__list {
    list-style: none;
}

.footer__list-item {
    margin-bottom: 16px;
}

.footer__link {
    text-decoration: none;
    color: rgba(109, 115, 122, 1);
    font-size: 1.6rem;
    line-height: 2.4rem;
    transition: all 0.3s ease;
}

.footer__link:hover {
    opacity: 0.7;
}