@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --button-color: #4B61A1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-weight: 300;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Button */
.btn {
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 12px 24px;
    background-color: var(--button-color);
    color: #fff;
    transition: all 0.2s ease;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(0.98);
    box-shadow: 0 0 4px #a5a4a4;
    cursor: pointer;
}

.btn--s {
    border: none;
    outline: none;
    border-radius: 2.136px;
    background-color: var(--button-color);
    color: #fff;
    padding: 4.27px 12.8px;
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.btn--border-white {
    color: #fff;
    border: 1px solid #fff;
    background: none;
    transition: all 0.25s ease;
}

.btn--view-detail {
    border: 1px solid #fff;
    background: none;
    font-size: 1.6rem;
    line-height: 2.4rem;
    opacity: 0;
    position: absolute;
    width: 140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.5s ease;
}

.btn--view-detail:hover {
    background-color: #fff;
    color: #6a8398;
    transform: translate(-50%) scale(0.97);
    box-shadow: 0 2px 5px #333;
    cursor: pointer;
}